In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

### 01. Reading Data:

In [84]:
data = pd.read_csv('INFY_1D.csv')
data = data.sort_values(by=['timestamp'])

In [85]:
prev_close = []
prev_open = []
prev_high = []
prev_low = []
prev_vol = []
for i in range(1, data.shape[0]):
    prev_close.append(data['close'].iloc[i-1])
    prev_open.append(data['open'].iloc[i-1])
    prev_high.append(data['high'].iloc[i-1])
    prev_low.append(data['low'].iloc[i-1])
    prev_vol.append(data['volume'].iloc[i-1])
data = data[1:]
data['prev_close'] = prev_close
data['prev_open'] = prev_open
data['prev_high'] = prev_high
data['prev_low'] = prev_low
data['prev_vol'] = prev_vol
data['change'] = np.where((data['close'] - data['prev_close'])*100/data['prev_close'] > 0, 1, 0)
data.head(5)

,timestamp,day,month,year,time,open,close,high,low,volume,prev_close,prev_open,prev_high,prev_low,prev_vol,change
3480,1262649600,5,1,2010,05:30:00,327.50,327.67,328.84,325.02,6895528,326.58,326.25,328.75,324.42,4069264,1
3479,1262736000,6,1,2010,05:30:00,335.38,322.89,335.38,321.89,6817288,327.67,327.50,328.84,325.02,6895528,0
3478,1262822400,7,1,2010,05:30:00,323.33,315.64,323.33,314.78,10892600,322.89,335.38,335.38,321.89,6817288,0
3477,1262908800,8,1,2010,05:30:00,314.88,308.03,315.42,307.25,12649312,315.64,323.33,323.33,314.78,10892600,0
3476,1263168000,11,1,2010,05:30:00,309.39,311.21,313.09,309.25,7849656,308.03,314.88,315.42,307.25,12649312,1

In [90]:
x_cols = ['day', 'month', 'year', 'prev_close', 'prev_open', 'prev_high', 'prev_low']
y_cols = ['change']
X_train, X_test, y_train, y_test = train_test_split(data[x_cols], data[y_cols], test_size=0.20, random_state=0)
X_train

      day  month  year  prev_close  prev_open  prev_high  prev_low
2580    6      8  2013      376.14     374.85     378.13    374.57
100    18      8  2023     1411.55    1420.00    1420.00   1406.00
1056   15     10  2019      786.10     786.75     797.00    780.00
2556   12      9  2013      389.89     393.13     396.62    388.47
9       1      1  2024     1542.90    1541.05    1559.45   1540.00
...   ...    ...   ...         ...        ...        ...       ...
2645    8      5  2013      293.60     293.75     294.38    290.60
216    27      2  2023     1550.65    1560.00    1569.00   1545.00
1827   29      8  2016      510.13     518.00     523.00    508.53
873    10      7  2020      781.70     780.00     790.00    775.00
748     6      1  2021     1293.80    1282.00    1299.00   1275.05

[2784 rows x 7 columns]

In [87]:
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (2784, 7) (2784, 1)
Test set: (697, 7) (697, 1)

In [96]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(solver='liblinear')
LR.fit(X_train,y_train)
y_pred= LR.predict(X_test)
y_pred

C:\Users\Dell\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [98]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print('Accuracy(test Data): ',accuracy_score(y_test, y_pred))
print('Accuracy(train Data):',accuracy_score(y_train,LR.predict(X_train)))
print('Confusion Matrix: \n',pd.DataFrame(confusion_matrix(y_test, y_pred)))
print('Classification Repost:\n',classification_report(y_test, y_pred))
pd.DataFrame(classification_report(y_test, y_pred,output_dict=True))[['0','1']]

Accuracy(test Data):  0.5265423242467718
Accuracy(train Data): 0.5222701149425287
Confusion Matrix:
     0    1
0  35  297
1  33  332
Classification Repost:
               precision    recall  f1-score   support

           0       0.51      0.11      0.17       332
           1       0.53      0.91      0.67       365

    accuracy                           0.53       697
   macro avg       0.52      0.51      0.42       697
weighted avg       0.52      0.53      0.43       697

                    0           1
precision    0.514706    0.527822
recall       0.105422    0.909589
f1-score     0.175000    0.668008
support    332.000000  365.000000